
div {
    align-self: center;
    width: 80%;
    margin: 0 auto;

}

div > h1 {
    color: rgba(0,0,0,0.8);
    padding: 10px;
    background-color: rgba(0,0,0, .2);
    text-align: center;
    border-radius: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1),
                1px -1px 10px rgba(0, 0, 0, 0.1),
                -1px 1px 10px rgba(0, 0, 0, 0.1),
                -1px -1px 10px rgba(0, 0, 0, 0.1);
}
