/* css tabelas */
.table-box {
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
  border-collapse: collapse;
}

.table-box th {
  height: 50px;
  color: #5e5f66;
  text-decoration: underline;
}

.table-box th:hover {
  color: #000;
  transition-duration: 1s;
}

.table-box th, td {
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
}
/* end css tables */
/* -------------------------------------------------------- */
